  <h1>Rock, Paper, Scissors</h1>
  <hr>
  
  <%=@sentence %>
  </br>
  </br>
  You choose: <%=@player_word %>
  </br>
  The computer chooses: <%=@computer_word %>
  
  <h2><%= link_to 'Play Again!', rps_path %></h2>
  