  <h1>Rock, Paper, Scissors</h1>
  <hr>
  <h2>Let's Play! Choose One:</h2>
<table>
  
  <tr>
   
    <td><%= link_to 'Rock',  choose_path(1) %></td>
    <td><%= link_to 'Paper', choose_path(3) %></td>
    <td><%= link_to 'Scissor', choose_path(2) %></td>
  </tr>
</table>


